
body{
    
    background-color: grey;
}

h1{
    font-size: 25px; 
    color:#ff0000 ;
    text-align: center;
    text-shadow: 2px 2px black;
}
h2{
    font-size: 15px;
    color:yellow;
}

h3{
    font-size:
    color: #00bfff;
    background-color:blue;    
}

#square{
    color:blue;
    background-color: mediumpurple;
    font-size: 20px;
    border: 2px solid white;
    
}
.container{
    font-size:20px;
    color:orange;
}