body{
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        
    
}

.container{
    
}

h1, h2, h3{
    color: white;
    text-shadow: 2px 2px 5px red;
    line-height: 1rem;
    font-family: sans-serif;
}

.borderImg{
    border: 2px solid red;
}

ul li{
    color: white;    
}

ul > li{
    color: yellow;
}